.backContainer {
  background-image: url("../../assets/backgroundPic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 230vh;
}

.requestContainer {
  background-color: rgb(245, 245, 245, 0.5);
  padding: 2% 3% 1% 3%;
}
